<button {{action "generate"}}>new task</button>
<hr>

{{#each task in model}}
  <div style='border: 1px sold black; background-color: #aaaaaa;'>
  <div>Name: {{task.name}}</div>
  <div>Category: {{task.category}}</div>
  <div>Project: {{task.project}}</div>
  <div>Required Project State: {{task.requiredProjectState}}</div>
  {{#if task.parent}}
    {{#each parent in task.parent}}
      <div>Parent Task: {{parent.name}}</div>
    {{/each}}
  {{/if}}
  {{#each child in task.children}}
    <div>Child Task: {{child.name}}</div>
  {{/each}}
  {{#each skill in task.complexity}}
    <div>Complexity: {{skill.category}} | {{skill.tag}} : {{skill.value}}</div>
  {{/each}}
  <div style="padding-bottom: 20px;">&nbsp;</div>
  </div>
{{/each}}
